<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coding Newbies</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar bg-primary p-3">
    <h1 class="text-white">Coding Newbies <span class="lead">the.coding.struggle.is.real</span></h1>
    {{#if logged_in}}
      <a href="/struggle" class="nav-link text-white">My Coding Struggles</a>
      <a href="/" class="nav-link text-white">Others Stories</a> 
      <button class="btn text-white" id="logout">logout</button>
    {{else}}
      <a href="/login" class="nav-link text-white">Login</a>
      {{/if}}
      {{#if logged_in}}
      <script src="/js/logout.js"></script>
      {{/if}}
  </nav>

  {{{ body }}}
</body>

</html>