<!-- preferably nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">Coding Newbies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <!-- make sure this doesn't show in landing page but shows once signed in -->
                    <a class="nav-link" href="/stories">My Coding Struggles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Login | Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" id="logout">Logout</a>
                </li>
            </ul>
            <p class="lead text-white pt-3">the.coding.struggle.is.real</p>
        </div>
    </div>
</nav>

<!-- Login Section -->
    <div class="container overflow-hidden">
        <div class="row gx-5 m-5">
            <div class="col">
                <div class="p-3 border rounded-2 shadow-lg">
                    <!-- This is how I want login form to look like -->
                    <form id="login-form" style="height:400px">
                        <div class="card m-3 p-3 shadow-lg bg-light">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="text-primary">Already have an account? Sign in!</h5>
                                    <label for="user-login" class="form-label text-secondary"><strong>Your Email Address:</strong></label>
                                    <input type="email" class="form-control" id="user-login"
                                        placeholder="user@email.com">
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="password-login" class="form-label text-secondary"><strong>Your Password:</strong></label>
                                        <input type="password" class="form-control" id="password-login"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <button class="bg-primary text-white" id="login-button">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border rounded-2 shadow-lg">
                   <!-- This is how I want signup form to look like -->
                    <form id="signup-form"style="height:400px">
                        <div class="card m-3 p-3 shadow-lg bg-light">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="text-primary">Don't have an account? Sign up!</h5>
                                    <label for="user-signup" class="form-label text-secondary"><strong>Your Email Address:</strong></label>
                                    <input type="email" class="form-control" id="user-signup"
                                        placeholder="user@email.com">
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="password-signup1" class="form-label text-secondary"><strong>Your Password:</strong></label>
                                        <input type="password" class="form-control" id="password-signup1"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="password-signup2" class="form-label text-secondary"><strong>Confirm Above Password:</strong></label>
                                        <input type="password" class="form-control" id="password-signup2"
                                            placeholder="Confirm Password">
                                    </div>
                                </div>
                                <button class="bg-primary text-white" id="signup-button">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>