<!-- Login Section -->
    <div class="container overflow-hidden">
        <div class="row gx-5 m-5">
            <div class="col">
                <div class="p-3 border rounded-2 shadow-lg">
                    <!-- This is how I want login form to look like -->
                    <form id="login-form" style="height:500px">
                        <div class="card m-3 p-3 shadow-lg bg-light">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="text-primary">Already have an account? Sign in!</h5>
                                    <label for="email-login" class="form-label text-secondary"><strong>Your Email Address:</strong></label>
                                    <input type="email" class="form-control" id="email-login"
                                        placeholder="user@email.com">
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="password-login" class="form-label text-secondary"><strong>Your Password:</strong></label>
                                        <input type="password" class="form-control" id="password-login"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <button class="bg-primary text-white" id="login-button">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border rounded-2 shadow-lg">
                   <!-- This is how I want signup form to look like -->
                    <form id="signup-form"style="height:500px">
                        <div class="card m-3 p-3 shadow-lg bg-light">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="text-primary">Don't have an account? Sign up!</h5>
                                    <label for="username-signup" class="form-label text-secondary"><strong>Your Name:</strong></label>
                                    <input type="text" class="form-control" id="username-signup"
                                        placeholder="Username">
                                    <label for="useremail-signup" class="form-label text-secondary"><strong>Your Email Address:</strong></label>
                                    <input type="email" class="form-control" id="useremail-signup"
                                        placeholder="user@email.com">
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="password-signup" class="form-label text-secondary"><strong>Your Password:</strong></label>
                                        <input type="password" class="form-control" id="password-signup"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <button class="bg-primary text-white" id="signup-button">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/login.js"></script>