<!-- This is how I want my-update-page to look like -->
<div class="card m-5 p-3 shadow-lg">
    <div class="card-body">
        <h3 class="card-title text-center text-primary"><strong>Welcome, Newbie {{name}}!<br>Update Your Funny Coding
                Newbie Story Here!</strong></h3>
    </div>
    <!-- This is how I want final-update-form to look like -->
    {{#if stories.length}}
    {{#each stories as |story|}}
    <form id="final-update-form">
        <div class="card m-3 p-3 shadow-lg bg-light">
            <div class="card-body">
                <div class="mb-3">
                    <label for="update-title" class="form-label text-secondary"><strong>Update My Struggle
                            Title</strong></label>
                    <input type="text" class="form-control" id="update-title" value="{{story.name}}">
                </div>
                <div class="mb-3">
                    <label for="update-story" class="form-label text-secondary"><strong>Update My Funny Coding
                            Mistakes</strong></label>
                    <textarea class="form-control" id="update-story" rows="2" value="{{story.description}}"></textarea>
                </div>
                <button class="bg-primary text-white" id="update-button" data-id="{{story.id}}">Update My Story</button>
            </div>
        </div>
    </form>
    {{/each}}
    {{/if}}
</div>
<script src="/js/struggle.js"></script>